In [9]:
from keras.models import Sequential
from keras import layers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

/usr/local/lib/python2.7/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [10]:
model=Sequential()

model.add(layers.Conv2D(128,(5,5),activation='relu',input_shape=(64,64,3)))

model.add(layers.MaxPool2D(pool_size=(2,2)))

model.add(layers.Conv2D(128,(3,3),activation='relu'))

model.add(layers.MaxPool2D(pool_size=(2,2)))

model.add(layers.Flatten())

model.add(layers.Dense(units = 128, activation = 'relu'))
model.add(layers.Dense(units = 3, activation = 'softmax'))

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 60, 60, 128)       9728
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 30, 30, 128)       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 128)       147584
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 128)       0
_________________________________________________________________
flatten_1 (Flatten)          (None, 25088)             0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               3211392
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 387
=================================================================
Total params: 3,369,091
Trainable params: 3,369,091
Non-trainable params: 0
_________________________________________________________________

## Getting data

In [11]:
path='/home/acsrikar/Desktop/age_detection/data/train/'

In [12]:
train_data=pd.read_csv('/home/acsrikar/Desktop/age_detection/data/train.csv')

In [13]:
train_data.head()

          ID   Class
0    377.jpg  MIDDLE
1  17814.jpg   YOUNG
2  21283.jpg  MIDDLE
3  16496.jpg   YOUNG
4   4487.jpg  MIDDLE

In [14]:
li=list(train_data['ID'])

In [15]:
li[:5]

['377.jpg', '17814.jpg', '21283.jpg', '16496.jpg', '4487.jpg']

In [16]:
train_labels=list(train_data['Class'])

In [17]:
from keras.preprocessing.image import load_img
from keras.preprocessing import image

In [18]:
%%time
train_feature_array=[]
for i in range(len(li)):
    img_path=path+li[i]
    img=load_img(img_path,target_size=(64,64))
    train_feature_array.append(image.img_to_array(img))

CPU times: user 14.6 s, sys: 509 ms, total: 15.1 s
Wall time: 15.1 s

In [19]:
type(train_feature_array)

list

In [20]:
train_labels[:5]

['MIDDLE', 'YOUNG', 'MIDDLE', 'YOUNG', 'MIDDLE']

In [21]:
len(train_feature_array)

19906

In [22]:
train_features=np.array(train_feature_array)
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['acc'])

## Encoding

In [23]:
label=pd.get_dummies(train_labels)

In [24]:
label.head()

   MIDDLE  OLD  YOUNG
0       1    0      0
1       0    0      1
2       1    0      0
3       0    0      1
4       1    0      0

In [25]:
train_labels_final1=label.values

In [26]:
train_labels_final1

array([[1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       ...,
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0]], dtype=uint8)

In [27]:
type(train_labels_final1)

numpy.ndarray

In [28]:
train_labels_final1.shape

(19906, 3)

## Fitting the model

In [ ]:
model.fit(train_features,train_labels_final1,batch_size=128,epochs=20)

Epoch 1/20
19906/19906 [==============================] - 11s 568us/step - loss: 7.3884 - acc: 0.5403
Epoch 2/20
19906/19906 [==============================] - 10s 482us/step - loss: 7.3700 - acc: 0.5428
Epoch 3/20
 7552/19906 [==========>...................] - ETA: 5s - loss: 7.4081 - acc: 0.5404